{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 l12 m12">
        <form action="" method="post">{% csrf_token %}
          <h3>Restablecer contraseña</h3>
          <p>¿Ha olvidado su clave? Introduzca su dirección de correo y le enviaremos mediante correo las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
          <div class="row">
            <div class="col s3 m3 l2 offset-s9 offset-m9 offset-l10">
            <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}